<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{%block title %}AskDjango{% endblock %}</title>
</head>
<body>

<h1>AskDjango</h1>

{% block content %}
{% endblock %}

</body>
</html>
<!-- 이 폴더가 존재함을 setting.py 에 명시를 해주어야함 -->
<!-- settings.py 의 Templates 리스트에 DIR 리스트에 명시를 해준다 -->