{% extends "blog/layout.html" %}
{% block content %}
<p>
안녕하세요 여러분의 ~~
</p>
<form action="" method ="get">
    <input type="text" name="q" value = "{{q}}"/>
    <input type="submit" value ="검색" />
</form>
<strong>'{{ q }}' 검색 결과</strong>
{% for post in post_list %}
<!-- 여기서 데이터베이스 SQL 언어 발생-->
<li>
    {{post.id}}
    <!--<a href="{ resolve_url(post) }">{{post.title}}</a>-->
    <!--일단 보류 템플렛에서 이 코드를 어떻게 구현할것인가에 대해  -->
    <a href="{% url "blog:post_detail" post.id %}"> {{ post.title }}</a>
    <!--웹페이지 상에서 동작을 했다가 안했다가함 그이유는 ?
    아무튼간에 위와같이 표현할수가 있다 이것이 중요 urls.py를 수정하여도 유연하게 장고에서 url 계산을 해준다 책에서는 이를 아름다운 url이라고 표현하더라-->
    <!--<a href="/blog/{{post.id}}/">
        {{post.title}}
    </a>-->

    <small>by {{post.author}}</small>
    <small>at {{post.updated_at}}</small>1958080
</li>
{% endfor %}
<ul>
<li>http://localhost:8000/blog 주소로 접속해보세요</li>
<li>template 경로를 다르게 쓰는이유</li>
</ul>
{% endblock %}
<!-- 여기서부터는 처리가 안됨 -->